@import '@fortawesome/fontawesome-free/css/all.css';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  ;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  width: 100%;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
  font-weight: 800;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.home-banner-container {
  position: relative;
  display: flex;
  margin-top: 2rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -200px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image-section {
  max-width: 600px;
  flex: 1;
}

.home-image-section img {
  width: 100%;
  height: auto;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(1rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-heading-privacy {
  font-size: 3rem;
  color: black;
  max-width: auto;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.primary-text-privacy {
  font-size: 1rem;
  max-width: auto;
  color: black;
  margin: 1.5rem 0rem;
}

.primary-text-privacy-headers{
  font-size: 1rem;
  max-width: 500px;
  color: black;
  margin: 1.5rem 0rem;
  font-weight: 600;
}

.primary-text-privacy ul {
  margin-left: 1.5rem; /* Indent the list to the right */
  padding-left: 1rem; /* Optional: Add padding for extra spacing */
  list-style-type: disc; /* Ensure bullet points are visible */
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}

.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section-container-work-1 {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

.carousel-container {
  width: 90%;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-image-container {
  flex: 0.9;
  margin-right: 10rem;
  display: flex;
  align-items: center;
}

.about-section-image-container-work-1 {
  flex: 0.9;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.about-section-image-container img {
  width: 80%;
  border-radius: 10%;
}

.about-section-image-container-work-1 img {
  width: 40%;
  height: 40%;
}

.about-background-image-container-work-1 {
  position: absolute;
  right: -150px;
  z-index: -2;
}


.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.privacy-section-text-container {
  margin-top: 4rem;
}

.privacy-section-container {
  background-color: rgba(88, 84, 244, 0.8);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}

.contact-page-wrapper h1 {
  max-width: 900px !important;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-form-container {
  width: 400px;
  max-width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.contact-form-container input {
  background: rgba(255, 255, 255, 01.3rem);
  border: 'solid 2px #4c4c4c';
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: large;
}

.contact-form-message {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-weight: 600;
}

.secondary-button {
  cursor: pointer;
  height: 90%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  transform: translate(-2.5%);
  top: 5%;
}

#contact-form {
  margin-top: 1rem;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}

.footer-logo-container {
  display: flex; /* Enable flexbox for horizontal alignment */
  align-items: center; /* Vertically align items */
}

.footer-icons {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.footer-text {
  font-weight: 600;
  cursor: pointer;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #585858;
}


.footer-section-two {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer-section-two span {
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
  font-size: smaller;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

#footer {
  margin-top: auto;
}

.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}

.testimonial-section-bottom {
  margin: 2rem auto;
}

.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}

.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}

.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}

.work-section-wrapper {
  margin-top: 15rem;
}

.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}

.work-section-top h1 {
  max-width: 700px !important;
}

.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.work-section-info h2 {
  margin-top: 50px;
  scale: 1.1;
}

.work-section-bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-btn:hover > *,
.img-slider-btn:focus-visible > * {
  animation: squish 200ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
  
}

.img-slider-dot-btn{
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-btn > * {
   stroke: white;
   fill: black;
   width: 2rem;
   height: 2rem;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-logo-container {
  display: flex; /* Enable flexbox for horizontal alignment */
  align-items: center; /* Vertically align items */
}

.company-logo {
  width: 100%; /* Adjust size as needed */
  height: auto;
}

.app-logo {
  padding-bottom: 10px;
  width: 50%; /* Adjust size as needed */
  height: auto;
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #555;
}

.scroll-to-top:active {
  transform: scale(0.9);
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 90%; /* Adapts to screen width */
  max-height: 80%; /* Limits height to 80% of the screen */
  overflow-y: auto; /* Makes the content scrollable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Modal Heading */
.modal-content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* Modal Paragraph */
.modal-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Close Button */
.close-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #5854f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #333;
}

/* Terms Link */
.terms-link {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.about-section-video-container {
  flex: 0.9;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px; /* Adjust the max width as needed */
  background-color: #f9f9f9; /* Light gray background color */
  border-radius: 12px; /* Rounded corners */
  padding: 1rem; /* Add padding inside the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

.homepage-video {
  width: 100%;
  max-width: 400px; /* Adjust the max width as needed */
  height: auto;
  padding: 2rem;
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}



@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 250px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .primary-text {
    text-align: center;
    max-width: 80%;
  }

  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .about-section-container {
    margin-top: 5rem !important;
  }

  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }

  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .work-section-wrapper {
    margin-top: 5rem !important;
  }

  .work-section-bottom {
    margin-top: 1rem !important;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
    min-height: 100vh;
  }
}

@media (max-width: 600px) {

  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
  
  .nav-logo-container {
    justify-content: center; /* Center the logo horizontally */
    max-width: 150px; /* Adjust the maximum width for smaller screens */
    margin: 0 auto; /* Center the container */
  }

  .company-logo {
    width: 100%; /* Ensure the logo scales properly */
    height: auto;
  }

  .app-logo {
    width: 80%; /* Adjust size for smaller screens */
    height: auto;
  }

  .about-section-image-container {
    display: flex;
    justify-content: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Add some space between the input and button */
  }

  .contact-form-container input[type="text"] {
    width: 70%; /* Adjust width to fit side-by-side */
    margin-right: 1rem;
    font-size: 0.875rem;
    height: auto;
  }

  .contact-form-container button {
    width: 50px;
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fe9e0d;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .contact-form-container button .button-text {
    visibility: hidden;
  }

  .contact-form-container button::after {
    content: "OK";
    visibility: visible;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
  }

  .about-section-video-container {
    padding: 0.5rem; /* Reduce padding for smaller screens */
    max-width: 100%; /* Allow the container to take full width */
    border-radius: 8px; /* Slightly smaller rounded corners */
  }

  .homepage-video {
    max-width: 250px; /* Ensure the video scales to fit the screen */
    height: auto; /* Maintain aspect ratio */
    border-radius: 6px; /* Slightly smaller rounded corners */
  }

  .about-section-text-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
  }

  #email {
    padding: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.5rem;
  }

  #email::placeholder {
    text-align: center;
  }
}